git+https://github.com/aspose-pdf-cloud/aspose-pdf-cloud-python.git
PyMuPDF
openai
replicate
google-generativeai
polars
pydantic
typed-argument-parser
typing-extensions
mypy
black
pytest
pandas
pandas-stubs
python-docx
google-cloud-translate
lingua-language-detector
